@use "../abstracts/variables" as*;
@use "../abstracts/mixins" as *;
@use "../abstracts/colors" as *;
@use "../abstracts/typography" as *;

.section-hero-banner{
    display:flex;
    justify-content: center;
}

.article-banner{
    display:flex;
    justify-content: center;
    .banner{
        margin-top:3.5rem;
        width:45%;
        display:flex;
        flex-direction: column;
        gap:2rem;
        .row{
            width:100%;
        }
    }
}

.row-logo{
    width:100%;
    display: flex;
    justify-content: space-between;
    .column{
        width:47%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap:2rem;
        .logo{
            width:100%;
            gap:1rem;
            display:flex;
            justify-content: center;
            align-items: center;
            img{
                height:auto;
                max-width:30%;
            }
        }
    }
}

.description{
    width:100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:2rem;
    .title{
        text-align: center;
    }
    .subtitle{
        display: flex;
        align-items: center;
        flex-direction: column;
        gap:1rem;
        p{
            text-align: center;
        }
    }
    .logo-list{
        display:flex;
        justify-content: space-between;
        img{
            max-width:11%;
            height:auto;
        }
    }
}
/****** css mobil ******/

.banner-mobil{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap:0.5rem;
    .logo{
        width:100%;
        gap:1rem;
        display:flex;
        justify-content: center;
        align-items: center;
        img{
            height:auto;
            max-width:30%;
        }
    }
}



/****** media queries ******/


@media(max-width:1080px){
    .m-none{
        display: none;
    }
}

@media(min-width:1080px){
    .d-none{
        display:none;
    }
}