@use "../abstracts/variables" as*;
@use "../abstracts/mixins" as *;
@use "../abstracts/colors" as *;
@use "../abstracts/typography" as *;

header{
    .container-fluid{
        .row{
            display:flex;
            justify-content: flex-end;
            margin-top:1rem;
        }
    }
}