body{
    background-color: #040714;
    background-image: url(../../assets/images/Background.png);
    background-position: top;
    background-repeat: no-repeat;
    background-size: 100vw;
}

.container-fluid{
    width:100%;
    padding:0 3rem;
}

.container{
    width:85%;
}

.row{
    margin:1rem 0;
}


li{
    list-style: none;
    display: inline-block;
}

span{
    display: block;
}


