@font-face {
    font-family: 'avenir-black';
    src: url(../../fonts/avenir-Black.ttf);
}

@font-face {
    font-family: 'avenir-book';
    src: url(../../fonts/avenir-Book.ttf);
}

/** $font-primary:'avenir-black';
$font-secondary:'avenir-book'; **/